nav > ul {
    display: flex;
    flex-direction: column-reverse;
}

/* .clearfix::after{
    clear: both;
    content: "";
    display: table;
}


nav > ul {
    background-color: rgb(5, 121, 5);
    list-style: none;
}

nav > ul > li {
    float: left;
    width: 25%;
} */

/* article > img {
    width: 250px;
    height: 150px;
    float: left;
    margin-right: 1em;
} */


/* p {
    background-color: red;
    color: black;
    width: 150px;
    height: 150px;
    overflow: auto;
} */