#header3 img {
    width: 100%;
}
#header3 nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: #FD5D5D;
}

#header3 nav ul a:hover {
    display: block;
    background-color: brown;
}

#inicio {
    width: 500px;
    flex-shrink: 0;
}

#clientes{
    flex-grow: 1;
}

#contacto{
    flex-grow: 1;
}











#header2 img {
    width: 100%;
}

#header2 nav ul {
    display: flex;
    list-style: none;
    background-color: #9254C8;
}

#header2 nav ul a {
    display: block;
    padding: .5em 1em;
}

/*  #inicio {
    order: 2;
} */










#header1 img {
    width: 100%;
}

#header1 nav ul {
    list-style: none;
    padding: 0;
    background-color: #FD5D5D;
    display: flex;
    justify-content: space-between;
}


#header1 nav ul li a {
    text-decoration: none;
    color: #9254C8;
    display: block;
    padding: .5em 1em;
}

#header1 nav ul li a:hover {
    background-color: #5F7464;
    color: white;
}



#nav-site ul {
    background-color: rgb(36, 167, 228);
    display: flex;
    list-style: none;
    padding: 0;
    height: 200px;

    /* flex-direction: row;
    flex-wrap: wrap; */

    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}