/* Equivalencia de atributos con css

id ------>   #
class------>   .
*/


/* Selector por clase */
.error {
    color:red;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 9px;
}

h1.grande{
    font-size: 50px;
}

p.grande {
    text-decoration: underline;
}

/* Selector por ID */
/* #p-medio{
    background-color: darkgreen;
    color:white;
}

#p-inicio{
    border: 5px dotted gray;
} */


/* Selecto de tipo */
/* p{
    border: 1px dotted darkred;
}

h1{
    background-color: blueviolet;
} */


/* Selector universal */
/* * {
    color: darkgreen;
    margin: 0;
    padding: 0;
} */

/* estilos par el titulo principal */
/* h1 {
    color: darkslateblue;
} */


/* estilos para párrafos */
/* p {
    background-color: tomato;
} */