article {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
}

h2 {
    background-color: #030391;
    color: aliceblue;
    width: 50vw;
}



/* article {
    font-size: 8px;
}

h2 {
    font-size: 5rem;
}

.verde{
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    display: inline-block;
}

p {
    display: inline;
}

h1 { 
    font-size: 20px;
    background-color: rgb(170, 54, 141);
    padding: 0.5em;
    border: 0.5em solid salmon;
} */



