/* Selector hermano adyacente */
div + p {
    background-color: rgb(120, 212, 182);
}

/* Selector hermano general */
/* h2 ~ p {
    border: 20px dotted darkcyan;
} */



/* Selector hijos directos */
/* article > p {
    border: 4px solid coral;
    text-transform: uppercase;
    border-radius: 8px;
}  */

/* Selector de descendientes */

/* footer p{
    background-color: rgb(101, 86, 235);
}

article p {
    background-color: aquamarine;
} */

/* selector compuesto */
/* p.error {
    font-size: 50px;
} */

/* Selector de lista */
/* h1, p {
    text-transform: uppercase;
} */

/* Selector por atributo usando ^ */

/* a[href ^="https"] {
    border: 3px solid rgb(31, 173, 107);
}

a[href $="mx"] {
    text-transform: uppercase;
} */

/* Selector por atributo sin especificar valor */
 /* p[lang] {
     text-transform: uppercase;
 }

P[lang=es] {
    background-color: aquamarine;
}
 */

/* Equivalencia de atributos en CSS

id ----> #
class ----> .

*/


/* Selector por clase */
/* .error{ 
    color:white;
    background-color: rgb(139, 131, 218);
    border: 3px solid black;
    border-radius: 9px;
}

h1.grande {
    font-size: 50px;
}

p.grande {
    text-decoration: underline;
} */


/* Selector por ID */
/* #p-medio{
    background-color: darkolivegreen;
    color:aliceblue;
}
#p-inicio{
    border: 5px dotted rgb(15, 185, 228);
}
 */

/* Selector de tipo */
/* p {
    border: 1px dotted yellowgreen;
}
h1 {
    background-color: darksalmon;
} */

/* Selector universal */
/*  * { 
    color:cadetblue; 
    margin: 0%;
    padding: 0%;
}*/

/* Estilos para el titulo principal */
/* /h1 {
    color: darkcyan;
} *

/* Estilos para párrafos */
/* /p{
    background-color: rgb(240, 237, 49);
} * 