header{
    font-size: 2.5vh;
    grid-area: header;
    display: grid;
    background-color:rgb(241, 241, 241);
    flex-direction: row;
    justify-content: center;
    width: 95vw;
}


body{
    background-color: rgb(51, 66, 87);
    display:grid;
    grid-template-areas:"header header"
                        "Boxeadores_famosos aside";
    gap: 5vh 3vw;
    height: 110vh;
    width: 95vw;
    margin: 0% 2% 0% 2%;
}

section{
    grid-area: Boxeadores_famosos;
    display: grid;
    background-color:rgb(241, 241, 241);
    flex-direction:row;
    /* Para justificar el texto del parrafo */ 
    text-align:justify;
}

section article{
    margin: 0% 2% 0% 2%;
}

aside{
    /* background-color: rgb(240, 110, 110); */
    font-size: 3vh;
    background-color: rgb(224, 253, 255);
    display:grid;
    width: 13vw;
    height: 100%;
    overflow: auto;
    
}

aside ul li{
        /* Entrelineado entre los elementos de la lista */
        line-height: 25vh;
} 

img{
    /* Ancho */
    width: 30vw;
    margin: 2% 4% 0% 0%;
    /* Alto */
    height: 100%;
}

/* Hacemos flotar la imagen a la izquierda para que el texto aparezca al lado de ella */
#reglas_laterales img{
    float: left;
}

p{
    font-size: 3vh;
}

section h1{
    font-size: 3.5vh;
}

ul{
    font-size: 3vh;
}

dl{
    font-size: 3vh;
}























