.con-borde {
    border: 1px solid gray;
}

.con-borde:hover {
    font-size: 20px;
    background-color: green;
    border-radius: 8px;
}

#info:hover {
    background-color: orange;
}


/* Estilo para la lista */

/* #lista-productos > li{
    background-color: blue;
} */

#lista-productos > li:first-child{
    border-top: 5px dotted gray;
    background-color: blue;
}

/* #lista-productos > li:last-child{
    border-bottom: 5px solid gray;
    background-color: blue;
} */

/* #lista-productos-2 > li {
    border: 2px solid red;
    background-color: yellow;
} */

#lista-productos-2 > li:nth-child(4){
    border: 2px solid red;
    background-color: yellow;
}

#lista-productos-3 > li:nth-child(even){
    background-color: gray;
}

#lista-productos-3 > li:nth-child(odd){
    background-color: lightgray;
}


#lista-productos-4 > li:nth-child(2n){
    background-color: coral;
}