nav ul {
    display: flex;
    flex-direction: column-reverse;
}

/* .clearfix::after {
    clear: both;
    content: "";
    display: table;
}

nav > ul > {
    background-color: rgb(13, 111, 40);
    list-style: none;
}

nav > ul > li {
    float: left;
    width: 25%;
}

article > img {
    width: 80px;
    float: left;
    margin-right: 1em;
}
 */

/* p {
    background-color: rgb(red, green, blue);
    color: gray;
    width: 150px;
    height: 150px;
    overflow: auto;
} */