/* Selector hermano adyacente */
div + p {
    background-color: red;
}


/* Selector hermano general */
/* h2 ~ p {
    border: 20px dotted gray;
} */



/* Selector hijos directos */
/* article > p {
    border: 4px solid violet;
    text-transform: uppercase;
    border-radius: 8px;
} */




/* Selector de descendientes */

/* footer p {
    background-color: gray;
}

article p {
    background-color: aqua;
} */

/* Selector compuesto */
/* p.error {
    font-size: 30px;
} */




/* Selector de lista */

/* h1, p {
    text-transform: uppercase;
} */





/* Selector por atributo usando ^ */
/* a[href ^="https"] {
     border: 4px solid goldenrod
}   

a[href $="mx"] {
    text-transform: uppercase;
}
 */



/* Selector por atributo sin especificar valor */
/* p[lang] {
    text-transform: uppercase;
}

p[lang="es"] {
    background-color: gold;
} */




/* equivalencia de atributos con css 
id ---------> #
class ---------> .

*/

/* Selector por clase */
/* .error {
color: rgb(31, 40, 161);
background-color: rgb(241, 245, 13);
border: 3px solid rgb(223, 18, 18);
border-radius: 9px;
} */

/* h1.grande {
    font-size: 50px;
}

p.grande {
    text-decoration: underline;
}
 */

/* Selector por ID */
/* #p-medio {
    background-color: darkgreen;
    color: white;
}

#p-inicio {
    border: 5px dotted gray;
}
 */

/* Selector de tipo */
/* p{
border: 1px dotted darkred;
}

h1 {
    background-color: rgb(48, 48, 231);
} */


/* Selector universal */
/* * {
color: darkgreen;
margin: 0%;
} */


/* estilos para el titulo principal */
/* h1 {
    color: crimson;
} */


/* estilospara párrafos */
/* p {
    background-color: greenyellow;
} */
