body {
    background-color: #DAB88B;
}

header h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

header img {
    border: 0;
    padding: 0;
    width: 1300px;
    height: 600px;
}

#navhome ul {
    display: inline-flex;
    list-style: none;
    height: 200px;
    
}

#navhome ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    color: black;
    justify-content: flex-end;
}

#navhome ul a:hover {
    background-color: #B6FFCE;
}