body{
    background-color: #E4E9BE;
    font-family: console;
}

a {
    margin: 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: "console";
}

header h1 {
    text-align: center;
    font-family: console;
    color: #1A3C40;
}

#tabla{
    margin: 40px auto;
    width: 1300px;
}

table{
    width: 100%;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th, td{
    padding: 40px;
}

thead{
    background-color: #525E75;
    color: white;
    border-bottom: solid 5px #5584AC;
}

tr:nth-child(even){
    background-color: #ddd;

}

td:hover{
    background-color: #5584AC;
    color: white;
}